* {
  box-sizing: border-box;
  background-color: lightblue;
}

.menubar {
  display: flex;
  border: 1px solid red;

  .menu-item {
    position: relative;
    padding: 1em;

    &:has(.menu-item-body) {
      background-color: black;
    }

    .menu-item-body {
      position: absolute;
      top: 4em;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid green;
      padding: 1em;
    }
  }
}

